ul
  li = link_to('Inicio', home_index_path, class: 'scroll active',  'data-link-alt':'Home')
  li = link_to('Menú', menu_index_path, class: 'scroll active', 'data-link-alt': 'Menú')
  li = link_to('Contacto', '#', class: 'scroll active', 'data-link-alt': 'Contacto')